@import "variables";
.navegacion{
    background-color: $colorprincipal;
}
.fotito{
    background-color: $colorsecundario;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.fotito__foto{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    border-style: double;
    border-left: 1px;
    border-bottom: 1px;
    border-top: 1px;
    border-width: 10px;
    border-radius: 5%;
    border-color: $colorintermedio;
    width: 750px  ;
    }
.fotito2{
    background-color: $colorintermedio;
    @extend .fotito
}
.fotito__foto2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 20px 5px 20px;
    border-style: double;
    border-left: 20px;
    border-bottom: 1px;
    border-top: 1px;
    border-right: 1px;
    border-width: 10px;
    border-radius: 5%;
    border-color: white;
    width: 750px  ;
}
.fotito3{
    @extend .fotito
}
.fotito__foto3{
    @extend .fotito__foto
}
.texto{
font-family:'Times New Roman', Times, serif;
font-size: 25px;
margin-top: 40px;
}
.volverarriba{
    background-color: white;
    padding: 25px;
    a{
        text-decoration: none;
        color: $colorprincipal;
        border-style: outset;
        border-color: $colorprincipal;
        border-radius: 2px;
        padding: 1px;
        margin: 10px 5px 10px 25px;
        font-size: 25px;
    }
}
.footer{
    @extend .navegacion;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    a{
        text-decoration: none;
        color: white;
}
}
.logo{
    padding: 0px;
}
.logofoot{
    height: 100px;
    padding: 0px;
}
.menu{ 
ul li a{
    color: white;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    padding: 5px;
    margin: 5px;
}
&:hover{
    color: black;
}
li{
    list-style-type: none;
    display: inline;
}
ul{
    margin: 50px 0px 0px 85px;
    padding-left: 1400px;
    padding-bottom: 10px; 
}
}
.formulario{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-style: inset;
    border-color: $colorprincipal;
    display: inline-block;
}
.row .volverarriba{
    margin: 20px;
}