
.navegacion{
    background-color: green;
}
.fotito{
    background-color: rgb(160, 250, 183);
    text-align: center;
}
.fotito__foto{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
    border-style: double;
    border-left: 1px;
    border-bottom: 1px;
    border-top: 1px;
    border-width: 7px;
    border-radius: 3%;
    border-color: white;
    width: 750px  ;


}
.texto{
    margin-top: 70px;
}
.ubi{

    margin-left: 650px;
    margin-top: 20px;

}
.texto{
    font-family:'Times New Roman', Times, serif;
}

.volverarriba{
    background-color: rgb(160, 250, 183);
    color:rgb(160, 250, 183) ;
}
.volverarriba a{
    text-decoration: none;
    color: green;
    border-style: dashed;
    border-color: green;
    border-radius: 2px;
    padding: 1px;
    margin: 10px 0px 10px 25px;
    font-size: 25px;


}

.footer{
    grid-area: footer;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.footer a{
    text-decoration: none;
    color: white;

}
.logo{
    padding: 0px;
}
.logofoot{
    height: 100px;
    padding: 0px;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    padding: 5px;
    margin: 5px;
}


.menu :hover{
    color: black;

}

.menu li{
    list-style-type: none;
    display: inline;
}

.menu ul{
    margin: 50px 0px 0px 85px;
    padding-left: 1400px;
    padding-bottom: 10px; 
}
.formulario{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-style: inset;
    border-color: green green;
    display: inline-block;
}
.row .volverarriba{
    margin: 20px;
}
@media screen and (max-width: 1023px) {
    .menu ul{
        padding-left: 0px;
        padding-right: 0px;
        margin: 20px 0px 20px 0px;
        padding-top: 28px
}
.row .logo{
    padding: 0px;
}
.fotito__foto{
    height: 400px;
    width: auto;
    padding-top: 30px;
    border-radius: 5px;
    border-top: 1px;
    border-bottom: 10px;
    border-left: 1px;
    border-right: 0px;
}
.row .logofoot{
    padding-right: 0px;
    padding-left: 0px;
}
.footer :hover{
    color: black;
}
}

@media screen and (max-width:767px){
.logofoot{
    display: none;
}
.menu ul{
    text-align: center;
    padding: 4px;
}
.fotito__foto{
    height: auto;
    border-radius: 5px;
    border-top: 1px;
    border-bottom: 10px;
    border-left: 1px;
    border-right: 0px;
}
.logo{
    display: none;
}
}