
.navegacion{
    background-color: green;
}
.fotito{
    background-color: rgb(160, 250, 183);
}
.fotito__foto{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
    border-style: double;
    border-left: 1px;
    border-bottom: 1px;
    border-top: 1px;
    border-width: 7px;
    border-radius: 3%;
    border-color: white;
    width: 750px  ;


}
.texto{
    margin-top: 70px;
}
.ubi{

    margin-left: 650px;
    margin-top: 20px;

}
.texto{
    font-family:'Times New Roman', Times, serif;
}

.volverarriba{
    background-color: rgb(160, 250, 183);
    color:rgb(160, 250, 183) ;
}
.volverarriba a{
    text-decoration: none;
    color: green;
    border-style: dashed;
    border-color: green;
    border-radius: 2px;
    padding: 1px;
    margin: 10px 0px 10px 25px;
    font-size: 25px;


}

.footer{
    grid-area: footer;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.footer a{
    text-decoration: none;
    color: white;

}
.logo{
    padding: 0px;
}
.logofoot{
    height: 100px;
    padding: 0px;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 23px;
    padding: 5px;
    margin: 5px;
}


.menu :hover{
    color: black;

}

.menu li{
    list-style-type: none;
    display: inline;
}

.menu ul{
    margin: 50px 0px 0px 85px;
    padding-left: 380px;
    padding-bottom: 50px; 
}
.formulario{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-style: inset;
    border-color: green green;
    display: inline-block;
}
/*
@media screen and (max-width: 1023px) {

    .navegacion{
        background-color: green;
        padding: 0px;
        padding-top: 40px;
    }
    nav{
        padding-top: 1px;
        margin: 0px;
        text-align: center;
        
    }
    .fotito{
        background-color: white;
    }
    .menu ul{
        display: inline;
        margin: 1px;
    }   
    .logofoot img{
        height: 509px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
/*
@media screen and (max-width:767px){

    .navegacion{
        background-color: green;
        display: flex;
        padding: 10px;
    }
    nav{
        padding-top: 1px;
        margin: 0px;
        text-align: center;
    }
    .fotito{
        background-color: white;
        text-align: center;
    }
    .fotito__foto{
        padding: 5px;
    }
    .logofoot{
        display: none;
    }
    .logo{
        display: none;
    }
    .volverarriba{
        display: none;
    }
    
    .inicio{
        display: none;
    }
    .footer{
        text-align: center;
    }
}